*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 100%;
    height: 6rem;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 0.25rem;
}
.hometext{
    font-size: 80px;
}
.celebration-bg-image{
    background-image: linear-gradient(rgba(211, 37, 75, 0.773), rgba(252, 236, 239, 0.362)),url('../images/Celebration.jpg');
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.celebration-2{
    /* background-image: url('../images/celebration-2.jpg'); */
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-now-btn{
     color: white; 
     background-color: #fa2e7d;
     padding: 10px 20px; 
     border-radius: 20px;
}
.book-now-btn:hover{
    text-decoration: none;
    color: white;
    background-color: #db0356;
}


.card-img1{
    border: #ff0163 solid 10px;
    width: 100%;
    height: 50vh;
    transition: all .3s ease-in-out;

}
.card-img1:hover{
    border: #7c0030 solid 10px;
    background-color: #db0356;
}
.card-img-overlay{
    position: absolute;
    top: unset !important;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  
  }
.services-bgimage{
        background-image: url('../images/addtional-service-bg-image.jpg');
        width: 100%;
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
}
.tattoo-bg{
    background-image:  linear-gradient( hsla(337, 100%, 50%, 0.444),  hsla(0, 0%, 98%, 0.515)),url("../images/tattoo-1.jpg"); 
    height: 10rem;
    /* display: flex;
    flex-direction: column;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
}

.owl-prev span{
    font-size: 80px;
    position: relative;
    top: -240px;
    left: -30px;
}
.owl-next span{
    font-size: 80px;
    position: relative;
    top: -240px;
    right: -30px;
}


@media (max-width:1200px){
    .hometext{
        font-size: 80px;
    }
}
@media (max-width:1200px){
    .hometext{
        font-size: 70px;
    }
}
@media (max-width:900px){
    .hometext{
        font-size: 65px;
    }
}
@media (max-width:768px){
    .hometext{
        font-size: 50px;
    }
}
@media (max-width:768px){
    .hometext{
        font-size: 45px;
    }
}
@media (max-width:425px){
    .hometext{
        font-size: 40px;
    }
}
@media (max-width:320px){
    .hometext{
        font-size: 30px;
    }
}